# R
.Rhistory
.Rapp.history
.RData
.Rproj.user/

# Quarto
.quarto/
/examples/**/*.md
/examples/**/*.html
/examples/**/*.tex
/examples/**/*.pdf
/examples/**/site_libs
/examples/**/.gitignore
*_files/
_book

# Lua
/.luarc.json

# Tex
/*.tex
*.aux
*.lof
*.lo*
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.idx
*.ilg
*.ind
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
